:root {
  /* gap */
  --gap-lg: 30px;
  --gap-md: 20px;
  --gap-base: 15px;
  --gap-sm: 10px;

  /* font */
  --fz-lg: 20px;
  --fz-md: 16px;
  --fz-base: 14px;
  --fz-sm: 12px;

  /* color */
  --lightbl: #adbdfb;
  --mainbl: #5b77ec;
  --darkbl: #4e66c7;
  --nightbl: #303f7a;
  --red-1: #fff4f4;
  --red-2: #ba261e;
  --bl-1: #dee2e5;
  --bl-2: #949ea6;
  --bl-3: #666a79;
  --bl-4: #363b40;
  --bl-5: #1a1a1a;
  --trans-bg: rgba(34,34,34,.4);

  /* shadow */
  --shadow: 0 10px 24px hsla(0, 0%, 0%, 0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}
